*:not[svg] {
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    color: #3d464d;
}

.block-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .block-header {
        display: flex;
        flex-wrap: wrap;
    }
}

h3.block-header__title {
    margin-bottom: 0;
    font-size: 20px;
}

.block-header__divider {
    margin-left: 16px;
    flex-grow: 1;
    height: 2px;
    background: #ebebeb;
}

.block-products__body {
    display: flex;
}

@media (max-width: 991px) {
    .block-products__body {
        display: block;
    }
}

.block-products__featured {
    display: flex;
    flex-direction: column;
    width: 36%;
    flex-shrink: 0;
}

@media (max-width: 991px) {
    .block-products__featured {
        width: 100%;
    }
}

.block-products__featured-item {
    display: flex;
    flex-grow: 1;
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-products__featured-item {
        display: block;
    }
}

.block-products__featured-item .product-card {
    width: 100%;
    flex-shrink: 0;
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-products__featured-item .product-card {
        flex-direction: row;
    }
}

.product-card {
    position: relative;
    padding: 1px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.product-card:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #ededed;
    transition: box-shadow .2s;
}

.product-card:hover:before {
    transition-duration: 0s;
    box-shadow: inset 0 0 0 2px rgb(255 211 51 / 70%);
    z-index: 2;
}

.product-card__quickview {
    z-index: 2;
    position: absolute;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    fill: currentColor;
    padding: 7px;
    cursor: pointer;
    top: 0;
    background: transparent;
    color: #ccc;
    transition: background-color .2s, color .2s;
}

.product-card__quickview {
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0;
}

.product-card:hover .product-card__quickview:not(.product-card__quickview--preload) {
    color: #3d464d;
}

.product-card:hover .product-card__quickview {
    transition-duration: 0s, 0s;
    background: #ffd333;
}

.product-card:hover .product-card__quickview:not(.product-card__quickview--preload):hover {
    transition-duration: .2s, .2s;
    background: #3d464d;
    color: #fff;
}

img svg {
    vertical-align: middle;
}

svg {
    display: block;
}

.product-card__image {
    padding: 18px;
    flex-shrink: 0;
}

@media (min-width: 992px) {
    .block-products__featured-item .product-card .product-card__image {
        padding: 25px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-products__featured-item .product-card .product-card__image {
        width: 120px;
        padding: 16px;
    }

    .block-products__featured-item .product-card .product-card__image {
        width: 216px;
    }

    .block-products__featured-item .product-card .product-card__image {
        padding-left: 24px;
        padding-right: 24px;
        margin-right: 16px;
    }
}

@media (max-width: 575px) {
    .block-products__featured-item .product-card .product-card__image {
        padding: 18px 18px 20px;
    }
}

.product-image__body {
    display: block;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
}

.product-image__img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.product-card__info {
    padding: 2px 22px 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .block-products__featured-item .product-card .product-card__info {
        padding: 0 24px;
    }

    .block-products__featured-item .product-card .product-card__info {
        padding: 0 30px;
        flex-grow: 0;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-products__featured-item .product-card .product-card__info {
        padding-top: 14px;
        padding-bottom: 42px;
        width: 100%;
    }

    .block-products__featured-item .product-card .product-card__info {
        padding-top: 20px;
        padding-bottom: 120px;
    }

    .block-products__featured-item .product-card .product-card__info {
        padding-left: 0;
        padding-right: 30px;
    }
}

@media (max-width: 575px) {
    .block-products__featured-item .product-card .product-card__info {
        padding: 0 24px;
    }
}

.product-card__name {
    font-size: 15px;
    line-height: 19px;
}

.product-card__name a:hover {
    color: #1a66ff;
}

.product-card__name a {
    color: #212529;
}

@media (min-width: 992px) {
    .block-products__featured-item .product-card .product-card__name {
        font-size: 17px;
        line-height: 23px;
    }
}

.product-card__name {
    font-size: 15px;
    line-height: 19px;
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-products__featured-item .product-card .product-card__name {
        /* overflow: hidden; */
        max-height: 38px;
    }

    .block-products__featured-item .product-card .product-card__name {
        font-size: 17px;
        margin-bottom: 2px;
        flex-grow: 0;
    }
}

.product-card__rating {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .block-products__featured-item .product-card .product-card__rating {
        margin-top: 7px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-products__featured-item .product-card .product-card__rating {
        white-space: nowrap;
    }
}

.product-card__rating-legend,
.product-card__rating-stars {
    margin-top: 3px;
}

.product-card__rating-stars {
    margin-right: 8px;
}

.product-card__rating-legend,
.product-card__rating-stars {
    margin-top: 3px;
}

.product-card__rating-legend {
    font-size: 13px;
    line-height: 1;
    color: #b3b3b3;
    padding-top: 1px;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .block-products__featured-item .product-card .product-card__actions {
        padding: 0 24px 24px;
    }

    .block-products__featured-item .product-card .product-card__actions {
        padding: 0 30px 30px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-products__featured-item .product-card .product-card__actions {
        position: absolute;
        bottom: 18px;
    }

    .block-products__featured-item .product-card .product-card__actions {
        align-items: center;
        bottom: 26px;
    }

    .block-products__featured-item .product-card .product-card__actions {
        left: 120px;
    }

    .block-products__featured-item .product-card .product-card__actions {
        left: 232px;
    }
}

@media (max-width: 575px) {
    .block-products__featured-item .product-card .product-card__actions {
        padding: 0 24px 24px;
    }
}

.product-card__prices {
    margin-top: 14px;
    line-height: 1;
    font-weight: 700;
    color: #3d464d;
}

@media (min-width: 992px) {
    .block-products__featured-item .product-card .product-card__prices {
        margin-bottom: auto;
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .block-products__featured-item .product-card .product-card__prices {
        margin-top: 0;
        font-size: 20px;
    }

    .block-products__featured-item .product-card .product-card__prices {
        margin-right: 24px;
    }
}

.product-card__buttons {
    display: flex;
    margin-top: 24px;
}

@media (min-width: 576px) and (max-width: 991px) {

    .block-products__featured-item .product-card .product-card__availability,
    .block-products__featured-item .product-card .product-card__buttons,
    .block-products__featured-item .product-card .product-card__description {
        display: none;
    }

    .block-products__featured-item .product-card .product-card__buttons {
        display: block;
    }
}

.product-card__buttons>:first-child {
    margin-right: auto;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn {
    border-radius: 2px;
    transition: all .1s ease-in-out;
    font-size: 1rem;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    padding: 0.375rem 1.25rem;
    font-weight: 500;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
    border-color: #ffd333;
    background: #ffd333;
    color: #3d464d;
    fill: #3d464d;
}

@media (max-width: 575px) {
    .block-products__featured-item .product-card .product-card__buttons .btn {
        font-size: .875rem;
        height: calc(1.875rem + 2px);
        line-height: 1.25;
        padding: 0.375rem 1rem;
        font-weight: 500;
    }
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-svg-icon {
    padding: 0;
    position: relative;
}

.btn.btn-svg-icon {
    width: calc(2.25rem + 2px);
}

.product-card__buttons>*+* {
    margin-left: 4px;
}

.btn-light,
.btn-light.disabled,
.btn-light:disabled {
    border-color: transparent;
    background: transparent;
    color: #3d464d;
    fill: #ccc;
}

@media (max-width: 575px) {
    .block-products__featured-item .product-card .product-card__buttons .btn {
        font-size: .875rem;
        height: calc(1.875rem + 2px);
        line-height: 1.25;
        padding: 0.375rem 1rem;
        font-weight: 500;
    }

    .block-products__featured-item .product-card .product-card__buttons .btn.btn-svg-icon {
        width: calc(1.875rem + 2px);
    }
}

.btn-svg-icon svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
    .block-products__featured+.block-products__list {
        margin-left: 6px;
    }
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
    border-color: #3d464d;
    background: #3d464d;
    color: #fff;
    fill: #fff;
}

.btn-light.focus,
.btn-light:focus,
.btn-light:hover {
    border-color: #f0f0f0;
    background: #f0f0f0;
    color: #3d464d;
    fill: #3d464d;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.block-products__list {
    display: flex;
    flex-wrap: wrap;
    margin: -6px;
}

@media (max-width: 991px) {
    .block-products__featured+.block-products__list {
        margin-top: 6px;
    }
}

.block-products__list-item {
    display: flex;
    width: calc(33.3333% - 12px);
    margin: 6px;
}

@media (max-width: 767px) {
    .block-products__list-item {
        width: calc(50% - 12px);
    }
}

@media (max-width: 479px) {
    .block-products .block-products__list-item {
        width: calc(100% - 12px);
    }
}

.block-products__list-item .product-card {
    width: 100%;
    flex-shrink: 0;
}

svg {
    overflow: hidden;
}

.block-products__list-item .product-card .product-card__image {
    padding: 18px 18px 20px;
}

@media (min-width: 480px) {
    .block-products .block-products__list-item .product-card .product-card__image {
        padding: 15px;
    }
}

.block-products__list-item .product-card .product-card__info {
    padding: 0 24px;
}

@media (min-width: 480px) {
    .block-products .block-products__list-item .product-card .product-card__info {
        padding: 0 15px;
    }
}

.product-card__name a {
    color: inherit;
    transition: .15s;
}

.block-products__list-item .product-card .product-card__actions {
    padding: 0 24px 24px;
}

@media (min-width: 480px) {
    .block-products .block-products__list-item .product-card .product-card__actions {
        padding: 0 15px 15px;
    }

    .block-products .block-products__list-item .product-card .product-card__buttons .btn {
        font-size: .8125rem;
        height: calc(1.5rem + 2px);
        line-height: 1.25;
        padding: 0.25rem 0.5625rem;
        font-weight: 500;
    }
}

@media (max-width: 479px) {
    .block-products .block-products__list-item .product-card .product-card__buttons .btn {
        font-size: .875rem;
        height: calc(1.875rem + 2px);
        line-height: 1.25;
        padding: 0.375rem 1rem;
        font-weight: 500;
    }

    .block-products .block-products__list-item .product-card .product-card__buttons .btn.btn-svg-icon {
        width: calc(1.875rem + 2px);
    }
}

@media (min-width: 480px) {
    .block-products .block-products__list-item .product-card .product-card__buttons .btn.btn-svg-icon {
        width: calc(1.5rem + 2px);
    }
}